body {
    background-color: rgb(31, 66, 31);
}

.card {
    width: 100px;
    height: 140px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: white;
    text-align: center;
    .red {
        color: red;
    }
    .black {
        color: black;
    }
}
.card.closed {
    background-color: #e5e5f7;
    opacity: 0.8;
    background: linear-gradient(135deg, #444cf755 25%, transparent 25%) -10px 0/ 20px 20px,
        linear-gradient(225deg, #444cf7 25%, transparent 25%) -10px 0/ 20px 20px,
        linear-gradient(315deg, #444cf755 25%, transparent 25%) 0px 0/ 20px 20px,
        linear-gradient(45deg, #444cf7 25%, #e5e5f7 25%) 0px 0/ 20px 20px;
}

.card .rank {
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
    margin-top: 20px;
}

.card .suit {
    font-size: 50px;
    margin: 0px;
}

.action-button {
    background-color: #444cf7;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

.score-container {
    p {
        color: white;
        font-size: 25px;
        font-weight: bold;
        margin: 0px;
    }
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.board {
    display: flex;
    flex-direction: column;
}

.deck {
    position: absolute;
    top: 20px;
    right: 20px;
    /* Each card in the deck should be displayed as a stacked card, slightly offset from the last one */
    display: flex;
    flex-direction: row;
    align-items: center;
    .card {
        margin-left: -100px;
        z-index: 1;
    }
}
