body {
    background-color: rgb(31, 66, 31);
}

.card {
    position: absolute;
    width: 100px;
    height: 140px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: white;
    text-align: center;
    .red {
        color: red;
    }
    .black {
        color: black;
    }
}
.card.closed {
    background-color: #e5e5f7;
    opacity: 0.8;
    background: linear-gradient(135deg, #444cf755 25%, transparent 25%) -10px 0/ 20px 20px,
        linear-gradient(225deg, #444cf7 25%, transparent 25%) -10px 0/ 20px 20px,
        linear-gradient(315deg, #444cf755 25%, transparent 25%) 0px 0/ 20px 20px,
        linear-gradient(45deg, #444cf7 25%, #e5e5f7 25%) 0px 0/ 20px 20px;
}

.card .rank {
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
    margin-top: 20px;
}

.card .suit {
    font-size: 50px;
    margin: 0px;
}
